@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Navigation menu styling*/
nav {
  position: fixed;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  background: #4070f4;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

nav .menu {
  display: flex;
}

nav .navbar .menu li {
  margin: 0 8px;
  list-style: none;
  font-size: 24px;
  font-weight: 500;
}

nav .navbar .menu li a {
  color: white;
}

nav .navbar .menu li a:hover {
  color: black;
  transition: all 0.3s ease;
}

nav .logo a {
  font-size: 40px;
  font-weight: 500;
  color: white;
}

nav .logo a:hover {
  color: black;
}

.navbar .media-icons a {
  font-size: 24px;
  margin: 0 6px;
  color: white;
}

.navbar .media-icons a:hover {
  color: black;
  transition: all 0.3s ease;
}

.navbar .menu .responsive-media-icons {
  display: none;
}

/* Side navigation menu buttons*/
nav .menu-button,
.navbar .cancel-button {
  display: none;
}


/*Making the navigation bar responsive*/
@media (max-width: 750px) {
  nav .navbar .menu {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    background: #0e2431;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    transition: all 0.5s ease;
  }

  /* Side navigation menu buttons*/
  nav .menu-button,
  .navbar .cancel-button {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 30px;
    top: 20px;
  }

  nav .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu li a {
    display: block;
    font-size: 24px;
    margin: 14px 0;
  }

  nav .navbar .menu li a:hover {
    color: #4070f4;
    transition: all 0.3s ease;
  }

  .navbar .media-icons a {
    display: none;
  }

  .navbar .menu .responsive-media-icons {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  }

  .menu .responsive-media-icons a {
    padding: 0 6px;
    color: #fff;
    font-size: 25px;
    transition: all 0.3s ease;
  }

  .menu .responsive-media-icons a :hover {
    color: #4070f4;
    transition: all 0.3s ease;
  }
}